*{
    font-family: league system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenedor-admin{
    width: 1500px;
    margin: 10px 10px 50px;
    background-color: rgb(226, 243, 251); 
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);;
    box-sizing: border-box;
    padding: 30px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
    min-height: fit-content;
    max-height: fit-content;
}

.propiedades{
   width: 240px;
   height: 700px;
   background-color: #12166c;
   border-radius: 20px;
 
}

ul{
  list-style: none;
}

.slide {
    clear:both;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
  }
  
  .slide li {padding : 20px;}
  
  #touch {position: absolute; opacity: 0; height: 0px;}    
  
 
  #touch:checked + .slide {height: 300px;} 
  .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }
  .btn-group button {
    background-color: #12166c; /* Green background */
    border-top: 1.5px solid rgb(17, 150, 211); /* Green border */
    border-bottom: 1.5px solid rgb(17, 150, 211); /* Green border */
    color: white; /* White text */
    width: 180px; /* Set a width if needed */
    height: 45px;
    border-radius: 15px;
    font-size: 23px;
    align-items: center;
    justify-content: center;
  }

ul{
  padding-left: 0px;
}
.logout{
    background-color: red;

    border-radius: 20px;
    width: 10%;
    height: 3%;
    position: absolute;
    top: 5%;
    left: 92%;
    transform: translate(-50%, -50%);
    
}

a{
    text-decoration: none;
    color: white;
 

}

.Title{
    position: absolute;
    top: 15px;
    left: 22%;
    padding: 10px;
}


.img{ 
    position: absolute;
    border-radius:5px;
   
    width:500px;
    height:500px;

    top: 3%;
    left: 60%;
    
  
    background:url(../images/receppng.png);
    background-size: cover;
}

.Container-Pro{
   width: 600px;
   height: 400px;
   position: absolute;
   left: 20%;
   bottom: 32%;
   border-radius: 15px;
   
}
.Container-Pro{
 
}
input{
  display: block;
  width: 500px;
  height: 30px;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 7px;
  font-size: 17px;
  border-radius: 20px;
  background: rgba(250, 4, 4, 0.05);
  border: none;
}  


    
   

  